{% load static %}
<div class="drawer-content">
        {% if user.is_authenticated %}
          <h2 class="profile-title">Профиль</h2>
          <div class="profile-info">
              <svg class="profile-icon" width="80" height="60" viewBox="0 0 28 46" xmlns="http://www.w3.org/2000/svg" color="white">
                <circle cx="14.0001" cy="7.67742" r="7.67742" fill="currentColor"/>
                <path d="M28 31.1613C28 27.4482 26.525 23.8873 23.8995 21.2618C21.274 18.6363 17.713 17.1613 14 17.1613C10.287 17.1613 6.72602 18.6362 4.10051 21.2618C1.475 23.8873 5.60652e-07 27.4482 0 31.1613L14 31.1613H28Z"
                    fill="currentColor"/>
              </svg>
              <ul>
                  <li class="username">{{ user.username }}</li>
                  <li class="profile-li">{{ user.email }}</li>
                  <li class="profile-li">{{ user.phone }}</li>
              </ul>
          </div>
            <div class="review-form">
                <div class="red-rectangle red-review-rectangle"></div>
                <div class="review-form-container">
                    <div class="review-title">Напишите отзыв</div>
                    <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="hidden" name="review_submit" value="1">

    <div class="form-group">
        <label for="id_car_model">Модель авто</label>
        {{ review_form.car_model }}
        {% if review_form.car_model.errors %}
            <div class="error">{{ review_form.car_model.errors }}</div>
        {% endif %}
    </div>

    <div class="form-group">
        <label for="id_text">Текст отзыва</label>
        {{ review_form.text }}
        {% if review_form.text.errors %}
            <div class="error">{{ review_form.text.errors }}</div>
        {% endif %}
    </div>

    <div class="form-group">
        <label>Фото (необязательно)</label>
        <div class="file-upload">
            {{ review_form.img }}
            <label for="id_img">Выберите файл</label>
            <span class="file-name" id="fileName">Файл не выбран</span>
            {% if review_form.img.errors %}
                <div class="error">{{ review_form.img.errors }}</div>
            {% endif %}
        </div>
    </div>

    <button type="submit" class="submit-btn" name="review_submit">Отправить отзыв</button>
</form>

            </div>
        </div>
        <h3 class="booking">Ваши записи:</h3>
        {% if bookings %}
        <div class="bookings-section">
        <div class="bookings-list">
          <ul>
            {% for booking in bookings %}
            <li class="booking-card">
                  <div class="booking-field">
                    <label>Дата:</label>
                    <span>{{ booking.date|date:"d.m.Y" }}</span>
                  </div>

                  <div class="booking-field">
                    <label>Время:</label>
                    <span>{{ booking.start_time|time:"H:i" }}–{{ booking.calculate_end_time|time:"H:i" }}</span>
                  </div>

                  <div class="booking-field">
                    <label>Услуги:</label>
                    <ul class="services-list">
                      {% for service in booking.services.all %}
                      <li>{{ service.name }}</li>
                      {% endfor %}
                    </ul>
                  </div>

                  <div class="booking-field">
                    <label>Комментарий:</label>
                    <span>{{ booking.comment|default:"-" }}</span>
                  </div>

                  <div class="booking-field">
                    <label>Способ оплаты:</label>
                    <span>{{ booking.get_payment_method_display }}</span>
                  </div>
                </li>
                {% empty %}
                <li class="no-bookings">У вас пока нет записей</li>
                {% endfor %}
              </ul>
            </div>
        </div>
        {% else %}
        <div class="alert alert-info">У вас пока нет записей.</div>
        {% endif %}
        <form method="post" action="{% url 'logout' %}">
            {% csrf_token %}
            <button type="submit" class="logout-button registration-button">Выйти</button>
        </form>
        {% else %}
  <h2 class="greeting">Добро пожаловать!</h2>
    <h3>Вход в аккаунт</h3>

    {% if login_form.errors %}
        <p style="color: #711919;">Неверное имя пользователя или пароль</p>
    {% endif %}

    <form method="post" action="" >
        {% csrf_token %}
        <input type="hidden" name="login" value="1">

        <div class="login-form-group form-group">
            {{ login_form.username.label_tag }}
            {{ login_form.username }}
            {% if login_form.username.errors %}
                <div class="text-danger">{{ login_form.username.errors.0 }}</div>
            {% endif %}
        </div>

        <div class="form-group">
            {{ login_form.password.label_tag }}
            {{ login_form.password }}
            {% if login_form.password.errors %}
                <div class="text-danger">{{ login_form.password.errors.0 }}</div>
            {% endif %}
        </div>

        <button type="submit" class="login-button registration-button">Войти</button>
    </form>

    <a href="#registration">Зарегистрироваться</a>
    {% endif %}
</div>