{% extends "base.html" %}
{% load static %}
{% block title %}Главная - Автомойка{% endblock %}

{% block content %}

    <section id="main">
      <div class="main-content">
        <div class="text-block">
          <div class="headline">CleanLab —<br>формула идеальной чистоты</div>
          <div class="subheadline">Где технологии и внимание к деталям создают эталонный результат</div>
          <a href="{% url 'booking_page' %}" class="one-click-btn">
            <span class="red-block"></span>
            Быстрая запись в один клик <span class="arrow">⟶</span>
          </a>
        </div>
        <div class="images">
          <img src="{% static 'img/main1.png' %}" alt="ГлавноеФото1">
          <img src="{% static 'img/main2.png' %}" alt="ГлавноеФото2">
          <img src="{% static 'img/main3.png' %}" alt="ГлавноеФото3">
        </div>
      </div>
    </section>

    <section id="about">
        <div class="about-header-container">
            <div class="about-rectangle"></div>
        </div>
        <h2 class="about-header">О нас</h2>
        <p class="about-text">Наша автомойка – место, где ваш автомобиль получает профессиональный уход и безупречную чистоту. Мы предлагаем полный спектр услуг: от быстрой мойки кузова до комплексного детейлинга, используя только качественные и безопасные средства. Наша команда опытных мастеров позаботится о вашем авто, вернув ему свежесть и блеск.
        Мы ценим ваше время, поэтому предлагаем удобную онлайн-запись и четкие сроки выполнения работ.</p>
    </section>

    {% include "includes/registration.html" %}
    {% include "includes/services.html" %}
    
    <section id="reserve">
        <h2>Онлайн-запись</h2>
        <div class="header-divider"></div>
        <div class="image-button-wrapper">
            <img src="{% static 'img/reserve.png' %}" alt="Бронь" class="reserve-image">
            <a href="{% url 'booking_page' %}" class="one-click-btn reserve-btn">
                Записаться
                <span class="btn-arrow">→</span>
            </a>
        </div>
    </section>

    <section id="feedback">
        <h2>Отзывы</h2>
        {% for review in reviews %}
        <div class="review">
            <div class="review-header">
                <span>{{ review.name }}</span>
                {% if review.car_model %}
                <span>{{ review.car_model }}</span>
                {% endif %}
                <span class="review-date">{{ review.date|date:"d.m.Y" }}</span>
            </div>
            <div class="review-text">
                {{ review.text }}
            </div>
            {% if review.img %}
            <div class="review-image">
                <img src="{{ review.img.url }}" alt="Фото отзыва">
            </div>
            {% endif %}
        </div>
        {% endfor %}
    </section>

    <section id="location">
        <h2>Как нас найти</h2>
        <ul>
            <li class="contact-item">
                <a href="#" class="contact-link">
                    г. Екатеринбург
                </a>
            </li>
            <li class="contact-item">
                <a href="#" class="contact-link">
                    +7 (343) 300-89-22
                </a>
            </li>
            <li class="contact-item">
                <a href="#" class="contact-link">
                    ПН-ВС 11:00-21:00
                </a>
            </li>
            <li class="contact-item">
                <a href="#" class="contact-link">
                    cleanlabekb@gmail.com
                </a>
            </li>
        </ul>
        <div class="header-divider location-divider"></div>
        <img src="{% static 'img/map.png' %}" alt="Карта" width="1440px">
    </section>
{% endblock %}
