{% load static %}

<section id="feedback">
    <h2>Отзывы</h2>
    <div id="reviews-container">
      {% for review in review_page_obj.object_list %}
      <div class="review">
          <div class="review-header">
              <span>{{ review.author }}</span>
              {% if review.car_model %}
              <span>{{ review.car_model }}</span>
              {% endif %}
              <span class="review-date">{{ review.created_at|date:"d.m.Y" }}</span>
          </div>
          <div class="review-text">
              {{ review.text }}
          </div>
          {% if review.img %}
          <div class="review-image">
              <img src="{{ review.img.url }}" alt="Фото отзыва">
          </div>
          {% endif %}
      </div>
      {% endfor %}
    </div>
</section>