{% load static %}

<section id="services">
    <h2 class="services-title">Наши услуги</h2>
    <div class="services-grid">
        {% for service in services %}
            <div class="service-card">
                <img src="{% static 'img/services/' %}{{ service.name|slugify }}.jpg" alt="{{ service.name }}" class="service-image">
                <div class="service-info">
                    <h3>{{ service.name }}</h3>
                    <p>{{ service.price }} руб.</p>
                </div>
            </div>
        {% endfor %}
    </div>
</section>
