{% load static %}

<section id="services">
    <h2 class="services-title">Наши услуги</h2>
    <div id="services-container">
        <div class="services-row top-row">
            {% for service in service_page_obj.object_list|slice:":2" %}
                <div class="service-card">
                    {% if service.image %}
                        <img src="{{ service.image.url }}" alt="{{ service.name }}" class="service-image">
                    {% else %}
                        <img src="{% static 'img/default.jpg' %}" alt="Нет изображения" class="service-image">
                    {% endif %}
                    <div class="service-info">
                        <p class ="service-name">{{ service.name }}</p>
                        <p class="service-price">
                            от {{ service.price_from|floatformat:0 }} – {{ service.price_to|floatformat:0 }}
                        </p>
                    </div>
                </div>
            {% endfor %}
        </div>

        <div class="services-row bottom-row">
            {% for service in service_page_obj.object_list|slice:"2:4" %}
                <div class="service-card">
                    {% if service.image %}
                        <img src="{{ service.image.url }}" alt="{{ service.name }}" class="service-image">
                    {% else %}
                        <img src="{% static 'img/default.jpg' %}" alt="Нет изображения" class="service-image">
                    {% endif %}
                    <div class="service-info">
                        <p class="service-name">{{ service.name }}</p>
                        <p class="service-price">
                            от {{ service.price_from|floatformat:0 }} – {{ service.price_to|floatformat:0 }}
                        </p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>