{% load static %} 
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Автомойка{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap" rel="stylesheet">
    
</head>


<body>

    <header>
        <div class="header-container">
            <a href="{% url 'main_page' %}" class="logo-link">CLEANLAB</a>
            <nav>
                <ul class="main-nav">
                    <li><a href="#">Услуги</a></li>
                    <li><a href="#">Отзывы</a></li>
                    <li><a href="#">Контакты</a></li>
                    <li><a href="#">О нас</a></li>
                </ul>
            </nav>
        <a href="{% url 'profile' %}" class="login-link">
          <svg class="login-icon" width="28" height="46" viewBox="0 0 28 46" xmlns="http://www.w3.org/2000/svg">
            <circle cx="14.0001" cy="7.67742" r="7.67742"/>
            <path d="M28 31.1613C28 27.4482 26.525 23.8873 23.8995 21.2618C21.274 18.6363 17.713 17.1613 14 17.1613C10.287 17.1613 6.72602 18.6362 4.10051 21.2618C1.475 23.8873 5.60652e-07 27.4482 0 31.1613L14 31.1613H28Z"/>
          </svg>
        </a>
        </div>
    </header>
    <div class="header-divider"></div>

    </div>
    
    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <a href="{% url 'main_page' %}" class="logo-link">CLEANLAB</a>
    </footer>
</body>
</html>