{% load static %} 
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Автомойка{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap" rel="stylesheet">
    
</head>


<body>

    <header>
        <div class="header-container">
            <a href="{% url 'main_page' %}" class="logo-link">CLEANLAB</a>
            <nav>
                <ul class="main-nav">
                    <li><a href="#">Услуги</a></li>
                    <li><a href="#">Отзывы</a></li>
                    <li><a href="#">Контакты</a></li>
                    <li><a href="#">О нас</a></li>
                </ul>
            </nav>
            <img class='login-icon' src="{% static 'img/login_icon.svg' %}" alt="Иконка входа" width="28">
        </div>
    </header>
    <div class="header-divider"></div>

    </div>
    
    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <div>CLEANLAB</div>
    </footer>
</body>
</html>